@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
:root {
  --main-orange: hsl(26, 100%, 55%);
  --main-pale-orange: hsl(25, 100%, 94%);
  --secondary-gray: hsl(219, 9%, 45%);
  --secondary-lightgray: hsl(220, 14%, 75%);
  --lightbox-background: hsl(0, 0%, 0%, 0.75);
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
hr,
.basket-menu.empty .product,
.basket-menu.empty .checkout,
.is-empty,
.thumbnails,
.gallery-close,
h1 {
  display: none;
}
body {
  min-height: 100vh;
  /* overflow-x: hidden; */
}
main {
  height: 100%;
}
/* display */
[data-flex] {
  display: flex;
}
[data-grid] {
  display: grid;
}
/* placing content */
[data-align-items="center"] {
  align-items: center;
}
[data-justify-content="space-between"] {
  justify-content: space-between;
}
[data-justify-content="center"] {
  justify-content: center;
}
/* positioning */
[data-relative] {
  position: relative;
}
[data-absolute] {
  position: absolute;
}
[data-margin-inline="auto"] {
  margin-inline: auto;
}
[data-width="100%"] {
  width: 100%;
}
/* cursor-interaction */
[data-pointer] {
  cursor: pointer;
}
/* typography */
[data-font-2x] {
  font-size: 2rem;
}
[data-font-weight-400] {
  font-weight: 400;
}
[data-font-weight-700] {
  font-weight: 700;
}
[data-color-orange] {
  color: var(--main-orange);
}
[data-color-gray] {
  color: var(--secondary-gray);
}
[data-color-lightgray] {
  color: var(--secondary-lightgray);
}
/* background */
[data-background-orange] {
  background-color: var(--main-orange);
}
.inivisible {
  opacity: 0;
}
.presentation {
  grid-template-rows: max-content;
}

/* content inside basket */
.basket-menu {
  position: fixed;
  left: 0;
  top: 80px;
  translate: 0% 100%;
  z-index: 10;
  background-color: white;
  width: calc(100% - 1rem);
  translate: 0.5rem;
  border-radius: 0.5rem;
  grid-auto-rows: max-content;
  align-items: center;
  gap: 2rem;
  transition: opacity 0.2s ease;
  opacity: 0;
  padding: 1rem 0.5rem;
  pointer-events: none;
}
.basket-menu.active {
  opacity: 1;
  z-index: 10;
  pointer-events: initial;
}

.product {
  gap: 1rem;
  align-items: center;
  margin-block-start: 1rem;
}
.product img {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 0.5rem;
}
.product-prices [data-flex] {
  gap: 0.2rem;
}
.is-empty {
  margin-block: 2rem;
  text-align: center;
}
.basket-menu.empty .is-empty {
  display: initial;
}
.backet {
  margin-inline-start: auto;
}
/* container */
.container,
.container * {
  max-width: 1200px;
}
/* header */
.top-navigation {
  gap: 3rem;
}
.header-menu,
.cart {
  gap: 2rem;
}
.header-menu li {
  position: relative;
}
.header-menu li::before,
.basket[data-in-basket]::before {
  background-color: var(--main-orange);
}

.header-menu li::before {
  content: "";
  position: absolute;
  top: 200%;
  width: 100%;
  height: 4px;

  transition: scale 0.4s ease;
  transform-origin: left;
  scale: 0 1;
}
.header-menu li:hover::before {
  scale: 1;
}
.basket svg {
  fill: #69707d;
  transition: fill 0.2s ease;
}
.basket.active svg {
  fill: #111;
}
.basket[data-in-basket]::before,
.gallery-button::before {
  border-radius: 50%;
}

.basket[data-in-basket]::before {
  content: attr(data-in-basket);
  font-size: 0.7rem;
  display: grid;
  place-content: center;
  color: white;
  position: absolute;
  width: 80%;
  aspect-ratio: 2 / 1.2;
  top: -4px;
  right: -5px;
}
/* presentation section */
.company-heading {
  font-size: 0.9rem;
  text-transform: lowercase;
  font-variant: small-caps;
  letter-spacing: 0.12ch;
}
.product-title {
  font-size: 1.7rem;
}
/* gallery-section */
.lightbox {
  position: fixed;
  scale: 0.8;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  gap: 2rem;
  display: grid;
  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.7);
  background-color: rgba(0, 0, 0, 0.7);

  transition: 0.3s ease;
}
.lightbox:not(.active) {
  pointer-events: none;
  opacity: 0;
}
.lightbox:where(.thumbnails) {
  scale: 0.8;
  gap: 3rem;
}
.gallery img,
.lightbox .big-img::before,
.small-img.style {
  border-radius: 1rem;
}
.gallery img {
  overflow: hidden;
  cursor: pointer;
}
.big-img {
  grid-auto-flow: column;
  grid-auto-columns: 100%;
  overflow: hidden;
}
.lightbox .big-img::before {
  content: "";
  position: absolute;
  background-color: black;
  inset: 0;
  z-index: -1;
}

.big-img img {
  transition: 0.4s ease;
}
.small-img.style img {
  opacity: 0.4;
}
.small-img.style {
  outline: 2px solid var(--main-orange);
  outline-offset: -2px;
  background-color: white;
}
.gallery-button {
  top: 50%;
  translate: 0 -50%;
  --shift-position: 7vw;
  display: grid;
  place-items: center;
  z-index: 1;
}
.gallery-button svg {
  scale: 0.85;
}
.next svg {
  translate: 10%;
}
.previous svg {
  translate: -10%;
}
.gallery-button::before {
  content: "";
  position: absolute;
  width: 100%;
  aspect-ratio: 1;
  background-color: white;
  scale: 3.2;
  z-index: -1;
}
.gallery .previous {
  left: var(--shift-position);
}
.gallery .next {
  right: var(--shift-position);
}
/* product info */

/* product price */
.old-price {
  text-decoration: line-through;
}
.current-price,
.discount {
  order: -1;
  scale: 1.1;
}
/* product pushare */
.product-amount {
  padding: 2rem;
}
.plus {
  order: 1;
}
.cart,
.checkout {
  padding: 1em 2em;
  border-radius: 1vmax;
  color: white;
}
/* gallery animation */
[data-right]:not([data-current]) {
  position: absolute;
  top: 0;
  left: 0;
  translate: 100%;
}
img[data-current] {
  transition-delay: 0;
}
/* lightbox gallery */
.lightbox .big-img {
  overflow: visible;
}
.lightbox [data-right]:not([data-current]) {
  opacity: 0;
  translate: 0;
}
@media (max-width: 1000px) {
  header,
  .product-info {
    padding-inline: 1.2rem;
    grid-auto-rows: max-content;
  }
  .top-navigation {
    gap: 0.75rem;
    height: 70px;
  }
  .hamburger {
    order: -1;
    z-index: 3;
  }
  .basket {
    margin-inline-start: auto;
  }

  .avatar {
    height: 50%;
  }
  .header-menu {
    display: grid;
    grid-auto-rows: max-content;
    width: 70vw;
    height: 100vh;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    padding: 6rem 1.2rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.7);
    scale: 0 1;
  }

  .header-menu.show {
    scale: 1;
    z-index: 2;
  }
  .show.show ~ main {
    pointer-events: none;
  }
  .gallery,
  .presentation,
  .product-info,
  .product-pushare {
    gap: 1rem;
  }
  .thumbnails {
    display: none;
  }
  .product-price {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }
  .current-price,
  .discount {
    scale: 1.1;
  }
  .old-price {
    margin-inline-start: auto;
  }
  .product-amount {
    height: 5vh;
  }
}
@media (min-width: 1000px) {
  .container {
    padding: 1rem;
  }
  .header-menu {
    margin-inline-start: 2rem;
    color: var(--secondary-gray);
  }
  .top-navigation,
  hr {
    width: 90%;
    margin-inline: auto;
  }
  hr {
    display: block;
    background-color: var(--secondary-lightgray);
    opacity: 0;
    translate: 0 2vh;
    transition: opacity 0.6s ease;
  }
  hr.active {
    opacity: 0.6;
  }

  .hamburger,
  .gallery-button:not([data-lightbox]),
  .gallery-close:not([data-lightbox]) {
    display: none;
  }
  .basket {
    position: relative;
  }
  .basket-menu {
    position: absolute;
    width: 350px;
    top: 3rem;
    left: -450px;
    translate: 65%;
  }
  .backet {
    scale: 1.2;
  }
  .avatar {
    scale: 0.8;
    outline: 1px solid rgba(0, 0, 0, 0);
    outline-offset: -2px;
    transition: outline, outline-offset 0.1s ease;
  }
  .avatar:hover {
    border-radius: 50%;
    outline: 3px solid var(--main-orange);
    outline-offset: 0.2px;
  }
  .presentation {
    width: 85%;
    place-self: center;
    grid-template-columns: 0.8fr 1fr;
    gap: 6rem;
  }
  .gallery {
    gap: 2rem;
    z-index: 1;
  }
  .gallery-button {
    --shift-position: -0.5vw;
  }
  .lightbox [class*="o"] {
    display: grid;
    scale: 1.4;
    cursor: pointer;
  }
  .gallery-close.gallery-close {
    width: max-content;
    height: max-content;
    top: 0.2rem;
    right: 0.2rem;
    fill: #69707d;
    transition: 0.2s ease;
    translate: 0 -300%;
    scale: 2;
  }
  .gallery-close:hover {
    fill: var(--main-orange);
  }
  .thumbnails {
    gap: 1.5rem;
    place-self: center;
  }
  .lightbox .thumbnails {
    gap: 3rem;
    scale: 0.8;
  }

  .product-info {
    align-self: center;
    gap: 1.5rem;
  }
  .company-heading {
    font-size: 1.1rem;
    letter-spacing: 0.3ch;
  }
  .product-title {
    margin-block-end: 1rem;
    font-size: 3rem;
  }
  .product-price {
    width: max-content;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 0.7rem 2rem;
  }
  .product-pushare {
    grid-template-columns: 0.4fr 0.6fr;
    align-items: center;
  }
}
